

 
 {{!-- stylesheet section link --}}
  <link rel="stylesheet" href="/stylesheets/core-style.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
 
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  {{!-- <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.min1.css">
   
  {{!-- <link rel="stylesheet" href="/stylesheets/forget.css"> --}}
  {{!-- <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css"> --}}
   
  {{!-- <link rel="stylesheet" href="/stylesheets/login.css"> --}}
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
   
  <link rel="stylesheet" href="/stylesheets/nouislider.css">
  <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
   <link rel="stylesheet" href="/stylesheets/responsive.css">
   {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
  <link rel="stylesheet" href="/stylesheets/themify-icons.css">







 








{{!-- from index page for i think img --}}

 <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">





















































  <div class="main_header_area">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 d-md-flex justify-content-between">
                            <!-- Header Social Area -->
                            <div class="header-social-area">
                                {{!-- <span class="karl-level">Share</span> --}}
                                <a href="#"> <i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <!-- Menu Area -->
                            <div class="main-menu-area">


                             


                                <nav class="navbar navbar-expand-lg align-items-start">

                                    

                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>   
                                    <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                        <ul class="navbar-nav animated" id="nav">

                               

                                         <li class="nav-item active"> <a href="#"><img src="img/core-img/logo.png" alt=""  ></a></li>


                                            <li class="nav-item active"><a class="nav-link" href="/home"> Home</a></li>
                                            {{!-- <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="karlDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                                <div class="dropdown-menu" aria-labelledby="karlDropdown">
                                                    
                                                    <a class="dropdown-item" href="shop.html">Shop</a>
                                                    <a class="dropdown-item" href="product-details.html">Product Details</a>
                                                    <a class="dropdown-item" href="cart.html">Cart</a>
                                                    <a class="dropdown-item" href="checkout.html">Checkout</a>
                                                </div>
                                            </li> --}}
                                            <li class="nav-item"><a class="nav-link" href="#">Products</a></li>
                                            {{!-- <span class="karl-level">hot</span> --}}
                                            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                                             {{!-- <li class="nav-item active"><a class="nav-link" href="cart.html">Cart<i class="ti-bag"></i> </a> --}}
                                             
                                               {{!-- <a href="#" id="header-cart-btn" target="_blank"> <i class="ti-bag"></i> </a> --}}
                                             
                                             
                                             </li>
                                             {{!-- <li class="nav-item"><a class="nav-link" href="#">Whishlist</a></li>
                                             <li class="nav-item"><a class="nav-link" href="#">Account</a></li> --}}
                                            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Help Line -->
                           
                            <div class="help-line">
                               {{!-- <i class="ti-headphone-alt"></i> --}}
                                <a href="/logout">LOGOUT</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>