<link rel="stylesheet" href="/stylesheets/forget.css">

<style>
  body {
    margin: 0;
    color: black;
    background: #ffffff;
    font: 600 16px/18px 'Open Sans', sans-serif;
    background-image: url('/img/bg-img/signupbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
  }
</style>
<div class="row">


  <div class="col align-items-center flex-col sign-up">
    <div class="form-wrapper align-items-center">
      <div class="form sign-up">
        <form method="post" action="">
          <div>
            <h2>Forget password?</h2>
          </div>
          <div class="input-group">
            <i class='bx bx-mail-send'></i>
            <input type="password" name="password" placeholder=" Enter new Password">
            <input type="hidden" name="user_id" value="{{{user_id}}}">
          </div>

          <button>Reset Password</button>
          <p>

            <b onclick="toggle()" class="pointer"><a href="/">Back to Login Page</a></b>
          </p>
        </form>

      </div>
    </div>

  </div>